@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="contact">
    <a href="https://www.linkedin.com/in/kimiko-motoyama-54a198132/">
        <img class="icon" src="../images/linkedInIcon.png" />
        <span>kimiko-motoyama-54a198132</span>
    </a><br />
    <a href="https://github.com/kimikomotoyama">
       <img class="icon" src="../images/gitHubIcon.png" />
        <span>kimikomotoyama</span>
    </a>
</div>
