@{
    ViewData["Title"] = "Polyglottal project";
}

<div class="row">
    <div class="col-md-3">
        <h2>Fish Compliments</h2>
        <div>
            <div></div>
            <button >GO!</button>
        </div>
    </div>
    <div class="col-md-3">
    </div>
</div>
