@{
    ViewData["Title"] = "Polyglottal project";
    var compliments = ViewData["Compliments"] as List<string>;
}

<div class="row">
    <div class="col-md-3">
        <h2>Fish Compliments</h2>
        <div>
            <img src="~/images/goodjob.gif"
                 asp-append-version="true" />
            <ul>
                <li>@ViewData["Message"], you are: @ViewData["Gender"]</li>
                @foreach (string element in compliments) {
                    <li>@element</li>           
                }
            </ul>
        </div>
    </div>
    <div class="col-md-3">
    </div>
</div>
